# Data Cleansing

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('survey_results_public.csv', index_col = 0)

In [6]:
df.head()

,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
Respondent,,,,,,,,,,,,,,,,,,,,,
1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,"Privately-held limited company, not in startup...",...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",Publicly-traded corporation,...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",Non-profit/non-governmental organization or pr...,...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,"Privately-held limited company, not in startup...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The objectives of this data cleansing are: <br>
- Convert all five-points measures into numeric data (1-5)
- Convert all yes or no data into 1 and 0
- For the multiple choices columns, I separate those choices into list for further use
- For the columns has string instead of float, for example, yearsprogram, I set them into the mean of the years

### Convert 5 points values

In [59]:
df.replace({'Strongly agree': 5, 'Agree': 4, 
            'Somewhat agree': 3, 'Disagree': 2, 'Strongly disagree': 1}, inplace = True)

In [60]:
df.replace({'Very important': 5, 
            'Important': 4, 'Somewhat important': 3, 
            'Not very important': 2, 'Not at all important': 1}, inplace = True)

In [61]:
df.replace({'Greatly overpaid': 5, 'Somewhat overpaid': 4, 'Neither underpaid nor overpaid': 3, 
            'Somewhat underpaid': 2, 'Greatly underpaid':1},inplace=True)

In [62]:
df.replace({'Very satisfied':5,'Somewhat satisfied':3,
             'satisfied':4,'Not very satisfied':2,
             'Not at all satisfied':1}, inplace = True)

### YearsProgram

In [7]:
df.YearsProgram.unique()

array(['2 to 3 years', '9 to 10 years', '20 or more years',
       '14 to 15 years', '6 to 7 years', '10 to 11 years',
       '13 to 14 years', '12 to 13 years', '15 to 16 years',
       '11 to 12 years', '8 to 9 years', '5 to 6 years', '18 to 19 years',
       '7 to 8 years', '1 to 2 years', '3 to 4 years', 'Less than a year',
       '4 to 5 years', '17 to 18 years', '16 to 17 years',
       '19 to 20 years', nan], dtype=object)

In [8]:
df['YearsProgram'].replace({
    '2 to 3 years': 2.5, '9 to 10 years': 9.5,
    '20 or more years': 20, '14 to 15 years': 14.5,
    '6 to 7 years': 6.5, '10 to 11 years':10.5, '13 to 14 years':13.5, 
    '12 to 13 years': 12.5, '15 to 16 years':15.5, '11 to 12 years': 11.5,
    '8 to 9 years': 8.5, '5 to 6 years' : 5.5, '18 to 19 years' : 18.5,
    '7 to 8 years' : 7.5, '1 to 2 years' : 1.5, '3 to 4 years' : 3.5, 'Less than a year' : 0.5,
    '4 to 5 years' : 4.5, '17 to 18 years' : 17.5, '16 to 17 years' : 16.5,
    '19 to 20 years' : 19.5 }, inplace = True)

<div class="alert alert-block alert-info">
20 or more years : 20  <br>
less than a year : 0.5

In [9]:
df.YearsProgram.head(5)

Respondent
1     2.5
2     9.5
3    20.0
4    14.5
5    20.0
Name: YearsProgram, dtype: float64

### YearsCodedJob

In [11]:
df.YearsCodedJob.unique()

array([nan, '20 or more years', '9 to 10 years', '10 to 11 years',
       '8 to 9 years', '7 to 8 years', '11 to 12 years', '15 to 16 years',
       '1 to 2 years', '3 to 4 years', '12 to 13 years',
       'Less than a year', '5 to 6 years', '16 to 17 years',
       '13 to 14 years', '6 to 7 years', '2 to 3 years', '17 to 18 years',
       '4 to 5 years', '14 to 15 years', '18 to 19 years',
       '19 to 20 years'], dtype=object)

In [12]:
df['YearsCodedJob'].replace({
    '2 to 3 years': 2.5, '9 to 10 years': 9.5,
    '20 or more years': 20, '14 to 15 years': 14.5,
    '6 to 7 years': 6.5, '10 to 11 years':10.5, '13 to 14 years':13.5, 
    '12 to 13 years': 12.5, '15 to 16 years':15.5, '11 to 12 years': 11.5,
    '8 to 9 years': 8.5, '5 to 6 years' : 5.5, '18 to 19 years' : 18.5,
    '7 to 8 years' : 7.5, '1 to 2 years' : 1.5, '3 to 4 years' : 3.5, 'Less than a year' : 0.5,
    '4 to 5 years' : 4.5, '17 to 18 years' : 17.5, '16 to 17 years' : 16.5,
    '19 to 20 years' : 19.5 }, inplace = True)

In [13]:
df.YearsCodedJob.head()

Respondent
1     NaN
2     NaN
3    20.0
4     9.5
5    10.5
Name: YearsCodedJob, dtype: float64

### YearsCodedJobPast

In [15]:
df.YearsCodedJobPast.unique()

array([nan, '17 to 18 years', '5 to 6 years', '19 to 20 years',
       '7 to 8 years', '4 to 5 years', '14 to 15 years',
       '20 or more years', '2 to 3 years', 'Less than a year',
       '10 to 11 years', '6 to 7 years', '9 to 10 years',
       '11 to 12 years', '3 to 4 years', '13 to 14 years',
       '15 to 16 years', '1 to 2 years', '8 to 9 years', '16 to 17 years',
       '12 to 13 years', '18 to 19 years'], dtype=object)

In [16]:
df['YearsCodedJobPast'].replace({
    '2 to 3 years': 2.5, '9 to 10 years': 9.5,
    '20 or more years': 20, '14 to 15 years': 14.5,
    '6 to 7 years': 6.5, '10 to 11 years':10.5, '13 to 14 years':13.5, 
    '12 to 13 years': 12.5, '15 to 16 years':15.5, '11 to 12 years': 11.5,
    '8 to 9 years': 8.5, '5 to 6 years' : 5.5, '18 to 19 years' : 18.5,
    '7 to 8 years' : 7.5, '1 to 2 years' : 1.5, '3 to 4 years' : 3.5, 'Less than a year' : 0.5,
    '4 to 5 years' : 4.5, '17 to 18 years' : 17.5, '16 to 17 years' : 16.5,
    '19 to 20 years' : 19.5 }, inplace = True)

In [17]:
df.YearsCodedJobPast.head(10)

Respondent
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
Name: YearsCodedJobPast, dtype: float64

<div class="alert alert-block alert-info">
We have more than 50000 nan for this columns!

### Developer Type

In [28]:
DT = df.DeveloperType[df['DeveloperType'].notnull().tolist()]

In [23]:
DTlist = []
for i in DT:
    t = i.replace(" ","").replace("[","").replace(";"," ").split()
    DTlist.append(t)

In [24]:
DTs = str(DTlist)
replace = ["[", "]", "'", "'"," "]
for i in replace:
    if i in DTs:
        DTs = DTs.replace(i,'')

In [25]:
DTl = DTs.split(",")

In [26]:
DTU = []
for w in DTl:
    if w not in DTU:
        DTU.append(w)

print(DTU)

['Other', 'Mobiledeveloper', 'Graphicsprogramming', 'Desktopapplicationsdeveloper', 'Webdeveloper', 'Embeddedapplications/devicesdeveloper', 'DevOpsspecialist', 'Qualityassuranceengineer', 'Datascientist', 'Machinelearningspecialist', 'Developerwithastatisticsormathematicsbackground', 'Databaseadministrator', 'Systemsadministrator', 'Graphicdesigner']

Unique Developer Type we have: <br>
'Other', 'Mobiledeveloper', 'Graphicsprogramming', 'Desktopapplicationsdeveloper', 'Webdeveloper', 'Embeddedapplications/devicesdeveloper', 'DevOpsspecialist', 'Qualityassuranceengineer', 'Datascientist', 'Machinelearningspecialist', 'Developerwithastatisticsormathematicsbackground', 'Databaseadministrator', 'Systemsadministrator', 'Graphicdesigner'

##### Distinguished by Developer

<div class="alert alert-block alert-info">
- Developer: 'Mobiledeveloper', 'Desktopapplicationsdeveloper', 'Embeddedapplications/devicesdeveloper','Developerwithastatisticsormathematicsbackground'  <br>
- Non-developer:'Graphicsprogramming','DevOpsspecialist','Qualityassuranceengineer','Datascientist','Machinelearningspecialist','Databaseadministrator', 'Systemsadministrator', 'Graphicdesigner'

In [29]:
df['IsDeveloper'] = df.DeveloperType[df['DeveloperType'].notnull()].apply(
    lambda x: 1 if 'developer' in x else 0)

##### Distinguished by Data Scientist

In [30]:
NDT = df.NonDeveloperType[df['NonDeveloperType'].notnull().tolist()]

In [31]:
NDTlist = []
for i in NDT:
    t = i.replace(" ","").replace("[","").replace(";"," ").split()
    NDTlist.append(t)

In [32]:
NDTs = str(NDTlist)

In [33]:
replace = ["[", "]", "'", "'"," "]
for i in replace:
    if i in NDTs:
        NDTs = NDTs.replace(i,'')

In [34]:
NDTl = NDTs.split(",")

In [35]:
NDTU = []
for w in NDTl:
    if w not in NDTU:
        NDTU.append(w)

print(NDTU)

['Datascientist', 'Other', 'C-suiteexecutive', 'Productmanager', 'Educatororacademic', 'Analystorconsultant', 'Marketingorsalesmanager', 'Designerorillustrator', 'Electedofficial']

<div class="alert alert-block alert-info">
- Data: 'Datascientist', 'Machinelearningspecialist', 'Developerwithastatisticsormathematicsbackground', 'Databaseadministrator', 'Analystorconsultant'<br>
- Non-Data: 'Other', 'Mobiledeveloper', 'Graphicsprogramming', 'Desktopapplicationsdeveloper', 'Webdeveloper', 'Embeddedapplications/devicesdeveloper', 'DevOpsspecialist', 'Qualityassuranceengineer','Systemsadministrator', 'Graphicdesigner','C-suiteexecutive', 'Productmanager', 'Educatororacademic', 'Marketingorsalesmanager', 'Designerorillustrator', 'Electedofficial'

### Career Satisfaction

In [36]:
df.CareerSatisfaction.unique()

array([nan,  8.,  6.,  7.,  3.,  9.,  5., 10.,  4.,  0.,  2.,  1.])

In [37]:
df['CareerSatisfactionDummy'] = df.CareerSatisfaction[
    df['CareerSatisfaction'].notnull()].apply(lambda x: 1 if x >= 7 else 0)

In [38]:
df.CareerSatisfactionDummy.unique()

array([nan,  1.,  0.])

In [39]:
df.astype(str).groupby('CareerSatisfactionDummy')['Professional'].count()

CareerSatisfactionDummy
0.0    11287
1.0    31408
nan     8697
Name: Professional, dtype: int64

### Job Satisfaction

In [40]:
df.JobSatisfaction.unique()

array([nan,  9.,  3.,  8.,  6.,  7.,  5.,  4., 10.,  2.,  0.,  1.])

In [41]:
df['JobSatisfactionDummy'] = df.JobSatisfaction[
    df['JobSatisfaction'].notnull()].apply(lambda x: 1 if x >= 7 else 0)

In [42]:
df.JobSatisfactionDummy.unique()

array([nan,  1.,  0.])

In [43]:
df.astype(str).groupby('JobSatisfactionDummy')['Professional'].count()

JobSatisfactionDummy
0.0    13703
1.0    26673
nan    11016
Name: Professional, dtype: int64

### Job Seeking Status

In [44]:
df.JobSeekingStatus.unique()

array(["I'm not actively looking, but I am open to new opportunities",
       nan, 'I am actively looking for a job',
       'I am not interested in new job opportunities'], dtype=object)

In [45]:
df['JobSeekingStatusDummy'] = df.JobSeekingStatus[
    df['JobSeekingStatus'].notnull()].apply(lambda x: 1 if x.startswith("I am actively") else 0)

In [47]:
df[['JobSeekingStatusDummy','JobSeekingStatus']].head(10)

,JobSeekingStatusDummy,JobSeekingStatus
Respondent,,
1,0.0,"I'm not actively looking, but I am open to new..."
2,NaN,NaN
3,NaN,NaN
4,1.0,I am actively looking for a job
5,NaN,NaN
6,0.0,"I'm not actively looking, but I am open to new..."
7,0.0,"I'm not actively looking, but I am open to new..."
8,0.0,"I'm not actively looking, but I am open to new..."
9,0.0,I am not interested in new job opportunities
10,0.0,"I'm not actively looking, but I am open to new..."

In [48]:
df.astype(str).groupby('JobSeekingStatusDummy')['Professional'].count()

JobSeekingStatusDummy
0.0    29009
1.0     4371
nan    18012
Name: Professional, dtype: int64

### Last New Job

<div class="alert alert-block alert-info">
0:less than 2 <br>
1:greater than 2

In [49]:
df.LastNewJob.unique()

array(['Not applicable/ never', nan, 'Between 2 and 4 years ago',
       'More than 4 years ago', 'Less than a year ago',
       'Between 1 and 2 years ago'], dtype=object)

In [50]:
df['LastNewJobDummy'] = df['LastNewJob'].replace({
    'Not applicable/ never': 0, 'Between 2 and 4 years ago': 1,
    'More than 4 years ago': 1, 'Less than a year ago': 0,
    'Between 1 and 2 years ago': 0})

In [51]:
df.astype(str).groupby('LastNewJobDummy')['Professional'].count()

LastNewJobDummy
0.0    20572
1.0    12138
nan    18682
Name: Professional, dtype: int64

### Job Profile

In [52]:
df.JobProfile.unique()

array(['Other', nan, 'LinkedIn; Other', 'LinkedIn',
       'LinkedIn; Monster; Other', 'LinkedIn; Xing',
       'Indeed; LinkedIn; Monster', 'LinkedIn; Monster',
       'Indeed; LinkedIn', 'LinkedIn; Naukri', 'Xing',
       'JobSite.co.uk; LinkedIn',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn; Monster',
       'LinkedIn; Reed.co.uk', 'Hired.com; LinkedIn; Other',
       'LinkedIn; Remix_jobs',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn; Monster; TripleByte',
       'Indeed; StepStone', 'Dice', 'Indeed; LinkedIn; Monster; Naukri',
       'LinkedIn; Monster; Naukri', 'Glassdoor; Indeed; LinkedIn',
       'Indeed; LinkedIn; TripleByte', 'Glassdoor; LinkedIn; Monster',
       'Dice; Glassdoor; Hired.com; LinkedIn; Monster', 'Monster',
       'Hired.com; LinkedIn; Monster; Other', 'CW_Jobs; Indeed',
       'Dice; Indeed; Monster', 'LinkedIn; Other; Xing',
       'Dice; Indeed; LinkedIn; Monster', 'CW_Jobs; LinkedIn',
       'LinkedIn; Monster; Workopolis',
       'Glassdoor; Indeed; LinkedIn; Monster', 'Glassdoor; LinkedIn',
       'Dice; Indeed; LinkedIn; Monster; Other',
       'Indeed; LinkedIn; Reed.co.uk', 'LinkedIn; TripleByte', 'Naukri',
       'Indeed', 'Hired.com; Indeed; LinkedIn; Other',
       'Dice; LinkedIn; Monster', 'Hired.com; Indeed; LinkedIn',
       'Dice; Glassdoor; Indeed; LinkedIn; Monster',
       'Monster; Reed.co.uk; Total_Jobs', 'Dice; Indeed; LinkedIn',
       'Hired.com; LinkedIn', 'Dice; LinkedIn; Other', 'Other; Xing',
       'Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Glassdoor; Indeed; JobSite.co.uk; Reed.co.uk', 'LinkedIn; Pracuj',
       'Hired.com; Other', 'Glassdoor; Hired.com; Indeed; LinkedIn',
       'Glassdoor; Hired.com; LinkedIn', 'CW_Jobs; LinkedIn; Total_Jobs',
       'Dice; LinkedIn; Monster; Xing',
       'Glassdoor; Hired.com; Indeed; LinkedIn; Monster',
       'Dice; LinkedIn', 'Dice; Hired.com; LinkedIn',
       'Glassdoor; Hired.com; Indeed; Monster', 'Indeed; Other',
       'Indeed; LinkedIn; Other', 'LinkedIn; Naukri; Other',
       'Monster; Workopolis', 'Reed.co.uk; Total_Jobs',
       'Dice; Glassdoor; Indeed; LinkedIn', 'Dice; Glassdoor; LinkedIn',
       'CW_Jobs; Indeed; LinkedIn; Reed.co.uk',
       'Hired.com; Indeed; LinkedIn; Monster', 'Pracuj',
       'LinkedIn; Other; Workopolis',
       'Hired.com; Indeed; LinkedIn; Monster; Remix_jobs',
       'Dice; Glassdoor', 'Indeed; LinkedIn; Pracuj',
       'LinkedIn; Monster; StepStone; Xing',
       'LinkedIn; Other; TripleByte', 'Indeed; Monster; Other',
       'Glassdoor; LinkedIn; Other',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Other',
       'Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster',
       'CW_Jobs; Glassdoor; LinkedIn; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Glassdoor; JobSite.co.uk; LinkedIn; Monster',
       'Indeed; Monster', 'CW_Jobs; JobSite.co.uk; LinkedIn',
       'Glassdoor; Indeed', 'Indeed; Monster; Workopolis',
       'Glassdoor; Indeed; Monster', 'Dice; Indeed; LinkedIn; Other',
       'Hired.com; LinkedIn; Reed.co.uk', 'Dice; Glassdoor; Other',
       'Indeed; LinkedIn; Workopolis', 'Naukri; Other', 'Monster; Other',
       'Hired.com', 'Glassdoor; Hired.com', 'Hired.com; LinkedIn; Naukri',
       'Monster; Naukri', 'Indeed; LinkedIn; Monster; Naukri; Other',
       'Indeed; LinkedIn; Naukri', 'LinkedIn; Monster; Xing',
       'LinkedIn; Monster; Naukri; Other', 'Indeed; Monster; Pracuj',
       'Indeed; Naukri', 'Hired.com; LinkedIn; Monster',
       'CW_Jobs; Indeed; LinkedIn; Monster; Reed.co.uk',
       'Indeed; LinkedIn; Monster; Remix_jobs',
       'Dice; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'LinkedIn; Talent.io', 'Indeed; LinkedIn; Talent.io',
       'CW_Jobs; Glassdoor; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Indeed; JobSite.co.uk; Reed.co.uk; Total_Jobs',
       'Indeed; Naukri; Other',
       'Glassdoor; LinkedIn; Monster; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Other',
       'Indeed; JobSite.co.uk; LinkedIn; Total_Jobs',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'JobSite.co.uk; Monster; Reed.co.uk; Total_Jobs',
       'Indeed; Monster; Naukri', 'Indeed; LinkedIn; Monster; Xing',
       'Glassdoor',
       'CW_Jobs; Dice; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Talent.io; Total_Jobs',
       'Indeed; LinkedIn; Monster; Other',
       'Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Dice; Hired.com; Indeed; LinkedIn; Monster; Naukri',
       'Dice; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; JobSite.co.uk; Reed.co.uk', 'Total_Jobs',
       'Dice; Monster', 'Glassdoor; Hired.com; LinkedIn; Monster; Other',
       'CW_Jobs; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Dice; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'StepStone; Xing', 'CW_Jobs; Indeed; JobSite.co.uk; Monster',
       'CW_Jobs; LinkedIn; Monster', 'Dice; Other',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Indeed; LinkedIn; Monster; Workopolis',
       'CW_Jobs; JobSite.co.uk; Monster; Total_Jobs',
       'CW_Jobs; JobSite.co.uk',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn; Monster; Other',
       'Indeed; LinkedIn; Xing',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'LinkedIn; Workopolis',
       'Glassdoor; Indeed; LinkedIn; Monster; Workopolis',
       'JobSite.co.uk; Monster',
       'Dice; Hired.com; Indeed; LinkedIn; Monster',
       'Dice; Glassdoor; LinkedIn; Monster',
       'Indeed; JobSite.co.uk; Monster',
       'Indeed; LinkedIn; Monster; Reed.co.uk; Talent.io',
       'Dice; Indeed; Monster; Other', 'Monster; StepStone; Xing',
       'Dice; LinkedIn; Monster; Other',
       'CW_Jobs; Glassdoor; Hired.com; LinkedIn',
       'Indeed; LinkedIn; Monster; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Total_Jobs',
       'Dice; Indeed; LinkedIn; Pracuj', 'LinkedIn; Monster; Reed.co.uk',
       'StepStone', 'Monster; Naukri; Other',
       'Dice; Indeed; LinkedIn; Monster; Naukri', 'Hired.com; Talent.io',
       'Glassdoor; LinkedIn; Monster; Workopolis',
       'LinkedIn; Monster; Talent.io', 'Talent.io',
       'Indeed; LinkedIn; StepStone',
       'Hired.com; Indeed; LinkedIn; Naukri; Other',
       'CW_Jobs; Glassdoor; Indeed', 'Hired.com; Indeed; Monster',
       'CW_Jobs; LinkedIn; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Monster', 'Dice; Indeed',
       'Indeed; Workopolis',
       'Hired.com; Indeed; LinkedIn; Monster; Naukri',
       'CW_Jobs; LinkedIn; Other', 'Indeed; StepStone; Xing',
       'CW_Jobs; Dice; LinkedIn; Total_Jobs',
       'CW_Jobs; Dice; LinkedIn; Monster; Other; Reed.co.uk',
       'CW_Jobs; JobSite.co.uk; Other; Total_Jobs',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Total_Jobs',
       'Dice; Hired.com; LinkedIn; Other', 'LinkedIn; StepStone',
       'Monster; Xing', 'JobSite.co.uk', 'LinkedIn; Monster; Pracuj',
       'CW_Jobs',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'Dice; LinkedIn; Xing', 'Dice; Indeed; Other',
       'LinkedIn; StepStone; Xing',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn; Monster; Workopolis',
       'CW_Jobs; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Dice; Indeed; Monster; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Other; Total_Jobs',
       'Glassdoor; LinkedIn; Monster; Other', 'Dice; Hired.com; Monster',
       'CW_Jobs; Glassdoor; Indeed; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Monster', 'Reed.co.uk',
       'CW_Jobs; Glassdoor; Hired.com; Indeed; JobSite.co.uk; Reed.co.uk',
       'CW_Jobs; Glassdoor; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'Remix_jobs', 'JobSite.co.uk; Reed.co.uk',
       'Indeed; LinkedIn; Monster; StepStone', 'Hired.com; Indeed',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn',
       'Glassdoor; Hired.com; LinkedIn; Monster',
       'LinkedIn; Other; Talent.io',
       'JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Glassdoor; Indeed; LinkedIn; Total_Jobs',
       'Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Total_Jobs',
       'Indeed; LinkedIn; Remix_jobs',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn; Monster',
       'Dice; Hired.com; LinkedIn; Xing',
       'Hired.com; Indeed; JobSite.co.uk; LinkedIn; Talent.io',
       'CW_Jobs; Hired.com; Indeed; Monster', 'Other; StepStone; Xing',
       'Dice; Glassdoor; Indeed',
       'Indeed; LinkedIn; Monster; StepStone; Xing',
       'Dice; Glassdoor; Indeed; LinkedIn; Monster; Other',
       'Dice; Hired.com; Indeed', 'Dice; LinkedIn; Naukri',
       'Glassdoor; Hired.com; LinkedIn; Other',
       'Dice; Indeed; LinkedIn; Naukri', 'Hired.com; LinkedIn; Talent.io',
       'Hired.com; LinkedIn; Xing',
       'CW_Jobs; Dice; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Total_Jobs',
       'Indeed; Monster; Naukri; Other',
       'Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Total_Jobs',
       'JobSite.co.uk; Other; Total_Jobs', 'Indeed; Reed.co.uk',
       'CW_Jobs; Indeed; Reed.co.uk; Total_Jobs', 'CW_Jobs; Total_Jobs',
       'LinkedIn; Monster; StepStone',
       'Hired.com; LinkedIn; Monster; Workopolis',
       'Hired.com; LinkedIn; Other; Remix_jobs; Talent.io',
       'Dice; Hired.com; Indeed; LinkedIn',
       'Dice; Glassdoor; Indeed; LinkedIn; Other',
       'Hired.com; LinkedIn; Remix_jobs',
       'Indeed; LinkedIn; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Dice; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'JobSite.co.uk; LinkedIn; Other; Reed.co.uk',
       'LinkedIn; Total_Jobs', 'Indeed; JobSite.co.uk',
       'Glassdoor; JobSite.co.uk; LinkedIn',
       'Indeed; Monster; Reed.co.uk', 'CW_Jobs; Indeed; LinkedIn',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Monster; Reed.co.uk', 'Glassdoor; LinkedIn; TripleByte',
       'LinkedIn; Talent.io; Xing', 'Other; Reed.co.uk',
       'Indeed; LinkedIn; StepStone; Xing', 'Hired.com; Monster',
       'CW_Jobs; Glassdoor; Hired.com; JobSite.co.uk; LinkedIn; Talent.io; Total_Jobs',
       'Indeed; LinkedIn; Talent.io; Total_Jobs', 'Indeed; Remix_jobs',
       'Indeed; JobSite.co.uk; Monster; Reed.co.uk; Total_Jobs',
       'Indeed; LinkedIn; Total_Jobs', 'Hired.com; LinkedIn; TripleByte',
       'Dice; LinkedIn; Total_Jobs', 'TripleByte',
       'Indeed; LinkedIn; Naukri; Other',
       'Glassdoor; Hired.com; Indeed; LinkedIn; Monster; Other',
       'Dice; Indeed; Monster; Naukri',
       'Dice; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Monster; Other; Total_Jobs',
       'CW_Jobs; Dice; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'Dice; Glassdoor; Monster', 'Glassdoor; Indeed; LinkedIn; Other',
       'Dice; LinkedIn; StepStone; Xing', 'CW_Jobs; Indeed; Monster',
       'LinkedIn; Monster; Other; StepStone', 'Monster; Other; StepStone',
       'Indeed; JobSite.co.uk; LinkedIn',
       'CW_Jobs; LinkedIn; Monster; Reed.co.uk; Talent.io',
       'Glassdoor; Hired.com; Indeed; LinkedIn; TripleByte',
       'Hired.com; Indeed; LinkedIn; Naukri',
       'Indeed; LinkedIn; Remix_jobs; Talent.io', 'CW_Jobs; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Monster; Total_Jobs',
       'Dice; Hired.com; LinkedIn; Monster',
       'Dice; Hired.com; Indeed; Monster',
       'Indeed; LinkedIn; Monster; Talent.io',
       'Dice; Hired.com; Indeed; LinkedIn; Other', 'Glassdoor; Monster',
       'Hired.com; Indeed; LinkedIn; Monster; Workopolis',
       'CW_Jobs; Glassdoor; LinkedIn; Monster; Total_Jobs',
       'CW_Jobs; Glassdoor; JobSite.co.uk; LinkedIn',
       'CW_Jobs; Dice; Hired.com; Indeed; LinkedIn; Monster; Talent.io; Total_Jobs',
       'Dice; Glassdoor; Hired.com; LinkedIn',
       'Dice; LinkedIn; Monster; Naukri', 'Monster; StepStone',
       'Indeed; Monster; StepStone; Xing',
       'CW_Jobs; JobSite.co.uk; Monster; Reed.co.uk; Total_Jobs',
       'LinkedIn; Monster; Remix_jobs', 'Hired.com; Other; Talent.io',
       'Dice; Glassdoor; Hired.com; Indeed; LinkedIn; Other; TripleByte',
       'CW_Jobs; Hired.com; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'CW_Jobs; Indeed; JobSite.co.uk; Monster; Reed.co.uk; Total_Jobs',
       'Hired.com; LinkedIn; Other; Xing',
       'CW_Jobs; LinkedIn; Monster; Total_Jobs',
       'CW_Jobs; Dice; JobSite.co.uk; LinkedIn; Total_Jobs',
       'CW_Jobs; Glassdoor; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster',
       'Indeed; Monster; Remix_jobs', 'Glassdoor; LinkedIn; Total_Jobs',
       'Dice; Indeed; LinkedIn; Reed.co.uk', 'Dice; Hired.com',
       'CW_Jobs; Hired.com; LinkedIn',
       'Indeed; LinkedIn; Other; StepStone; Xing',
       'Hired.com; LinkedIn; Other; Talent.io; Xing',
       'CW_Jobs; Dice; Indeed; JobSite.co.uk; Reed.co.uk',
       'Dice; JobSite.co.uk; LinkedIn; Total_Jobs',
       'CW_Jobs; Dice; Glassdoor; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; Dice; Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Dice; LinkedIn; Monster; StepStone; Xing', 'Talent.io; Xing',
       'Hired.com; Indeed; LinkedIn; Monster; Other; Talent.io',
       'CW_Jobs; Indeed; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'CW_Jobs; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster',
       'Indeed; JobSite.co.uk; Monster; Reed.co.uk',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn; Other; Reed.co.uk; Total_Jobs',
       'Hired.com; LinkedIn; Monster; Naukri',
       'CW_Jobs; Glassdoor; Total_Jobs',
       'Hired.com; LinkedIn; Other; Talent.io',
       'CW_Jobs; Dice; JobSite.co.uk; Monster; Reed.co.uk; Total_Jobs',
       'LinkedIn; Monster; Other; Remix_jobs',
       'CW_Jobs; Dice; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'Hired.com; Indeed; LinkedIn; Monster; TripleByte',
       'JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Glassdoor; Hired.com; Indeed; LinkedIn; Other',
       'LinkedIn; Monster; Talent.io; Xing',
       'Dice; Hired.com; Indeed; LinkedIn; Monster; Talent.io',
       'CW_Jobs; Glassdoor; LinkedIn',
       'Hired.com; LinkedIn; Remix_jobs; Talent.io',
       'LinkedIn; Monster; Total_Jobs',
       'Hired.com; LinkedIn; Monster; Talent.io',
       'Indeed; JobSite.co.uk; LinkedIn; Monster',
       'CW_Jobs; Dice; Glassdoor; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk; Talent.io; Total_Jobs',
       'CW_Jobs; Glassdoor; Hired.com',
       'CW_Jobs; Indeed; JobSite.co.uk; Monster; Reed.co.uk',
       'Indeed; LinkedIn; StepStone; Talent.io',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Other; Total_Jobs',
       'LinkedIn; Other; StepStone; Xing',
       'CW_Jobs; Glassdoor; Indeed; LinkedIn; Reed.co.uk',
       'Glassdoor; Hired.com; LinkedIn; Reed.co.uk',
       'JobSite.co.uk; LinkedIn; Reed.co.uk',
       'Hired.com; Indeed; LinkedIn; Other; TripleByte',
       'Glassdoor; Indeed; LinkedIn; TripleByte',
       'Hired.com; Indeed; Monster; Naukri', 'CW_Jobs; Hired.com',
       'CW_Jobs; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; Dice; LinkedIn; Reed.co.uk',
       'Dice; Glassdoor; Hired.com; Indeed; Monster',
       'CW_Jobs; Indeed; JobSite.co.uk',
       'Indeed; Monster; Other; Remix_jobs',
       'CW_Jobs; Indeed; Reed.co.uk',
       'LinkedIn; Monster; Other; Reed.co.uk', 'Glassdoor; JobSite.co.uk',
       'LinkedIn; Other; Remix_jobs',
       'CW_Jobs; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; Dice; Indeed; LinkedIn', 'JobSite.co.uk; Monster; Other',
       'Hired.com; Naukri', 'Monster; Remix_jobs',
       'CW_Jobs; JobSite.co.uk; Monster', 'CW_Jobs; Monster; Reed.co.uk',
       'Glassdoor; Other', 'CW_Jobs; Monster', 'Dice; Monster; Naukri',
       'Glassdoor; LinkedIn; Reed.co.uk', 'Indeed; Monster; Total_Jobs',
       'Indeed; LinkedIn; Monster; Remix_jobs; Talent.io',
       'CW_Jobs; LinkedIn; Other; Reed.co.uk',
       'Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'CW_Jobs; Dice; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Hired.com; LinkedIn; Pracuj', 'Dice; Xing',
       'Indeed; JobSite.co.uk; Monster; Other; Total_Jobs',
       'CW_Jobs; Dice; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; Dice; Glassdoor; Hired.com; Indeed; JobSite.co.uk; LinkedIn; Monster; Other; Reed.co.uk; Talent.io; Total_Jobs',
       'CW_Jobs; Dice', 'Dice; Monster; Other',
       'CW_Jobs; LinkedIn; Other; Total_Jobs',
       'CW_Jobs; Glassdoor; JobSite.co.uk; LinkedIn; Monster; Total_Jobs',
       'CW_Jobs; Indeed; LinkedIn; Talent.io',
       'CW_Jobs; Dice; JobSite.co.uk; Monster; Reed.co.uk',
       'Glassdoor; Hired.com; Indeed', 'Dice; Glassdoor; LinkedIn; Other',
       'Glassdoor; Indeed; Other',
       'Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Hired.com; Indeed; LinkedIn; Monster; Naukri; Other',
       'Dice; Indeed; LinkedIn; Talent.io', 'CW_Jobs; Other',
       'Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'Hired.com; Monster; Talent.io',
       'Glassdoor; Hired.com; Indeed; LinkedIn; Monster; TripleByte',
       'LinkedIn; Monster; StepStone; Talent.io; Xing',
       'Glassdoor; Indeed; LinkedIn; Reed.co.uk',
       'CW_Jobs; Dice; Hired.com; JobSite.co.uk; Monster; Reed.co.uk; Talent.io; Total_Jobs',
       'Hired.com; Monster; Naukri',
       'CW_Jobs; Hired.com; Indeed; JobSite.co.uk; Reed.co.uk; Total_Jobs',
       'Hired.com; Indeed; LinkedIn; Monster; Reed.co.uk',
       'Hired.com; LinkedIn; Other; TripleByte',
       'Indeed; LinkedIn; Other; Talent.io; Total_Jobs',
       'Dice; Hired.com; Indeed; Monster; Talent.io',
       'Dice; Indeed; Other; Workopolis',
       'CW_Jobs; Glassdoor; JobSite.co.uk; LinkedIn; Total_Jobs',
       'Glassdoor; Monster; Reed.co.uk',
       'LinkedIn; Remix_jobs; Talent.io',
       'CW_Jobs; LinkedIn; Monster; Reed.co.uk; Total_Jobs',
       'Monster; Pracuj', 'Glassdoor; Indeed; LinkedIn; Monster; Other',
       'CW_Jobs; Dice; Glassdoor; Hired.com; JobSite.co.uk; LinkedIn',
       'Dice; Glassdoor; Indeed; JobSite.co.uk; Monster; Reed.co.uk',
       'CW_Jobs; Glassdoor; Hired.com; JobSite.co.uk; LinkedIn; Monster; Other',
       'CW_Jobs; Hired.com; Total_Jobs',
       'Dice; Indeed; LinkedIn; Monster; Naukri; Other',
       'CW_Jobs; Dice; Indeed; JobSite.co.uk; LinkedIn; Reed.co.uk',
       'Indeed; Pracuj', 'Dice; Glassdoor; Indeed; Monster',
       'Dice; Glassdoor; Monster; Other',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Monster; Other; Reed.co.uk; Total_Jobs',
       'CW_Jobs; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Glassdoor; Indeed; JobSite.co.uk; LinkedIn',
       'CW_Jobs; JobSite.co.uk; Total_Jobs', 'Pracuj; Talent.io',
       'Monster; Other; StepStone; Xing',
       'CW_Jobs; Dice; Hired.com; JobSite.co.uk; LinkedIn; Reed.co.uk; Total_Jobs',
       'Indeed; JobSite.co.uk; LinkedIn; Monster; Total_Jobs',
       'Dice; Indeed; LinkedIn; Monster; StepStone; Talent.io; Xing',
       'Dice; Indeed; LinkedIn; Monster; TripleByte',
       'CW_Jobs; Glassdoor; Indeed; Monster; Reed.co.uk',
       'Dice; Hired.com; Indeed; LinkedIn; Monster; Other; Talent.io',
       'Glassdoor; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',
       'Indeed; Monster; StepStone',
       'Glassdoor; Indeed; LinkedIn; Monster; Reed.co.uk',
       'CW_Jobs; Hired.com; Indeed; LinkedIn',
       'Hired.com; Indeed; Talent.io',
       'Indeed; JobSite.co.uk; Reed.co.uk',
       'LinkedIn; Monster; Remix_jobs; Talent.io',
       'CW_Jobs; Glassdoor; Indeed; JobSite.co.uk; LinkedIn; Monster; Reed.co.uk',

In [53]:
JP = df.JobProfile[df['JobProfile'].notnull().tolist()]

In [54]:
JPlist = []
for i in JP:
    t = i.replace(" ","").replace("[","").replace(";"," ").split()
    JPlist.append(t)

In [55]:
JPs = str(JPlist)

In [56]:
replace = ["[", "]", "'", "'"," "]
for i in replace:
    if i in JPs:
        JPs = JPs.replace(i,'')

In [57]:
JPl = JPs.split(",")

In [58]:
JPU = []
for w in JPl:
    if w not in JPU:
        JPU.append(w)

print(JPU)

['Other', 'LinkedIn', 'Monster', 'Xing', 'Indeed', 'Naukri', 'JobSite.co.uk', 'Dice', 'Glassdoor', 'Hired.com', 'Reed.co.uk', 'Remix_jobs', 'TripleByte', 'StepStone', 'CW_Jobs', 'Workopolis', 'Total_Jobs', 'Pracuj', 'Talent.io']